 
PyQt5
opencv-python


affine_transformation.py
base_tool.py
bilateral_filter.py
black_hat_transform.py
brightness_tool.py
canny_edge_detection.py
cartoonization.py
clahe.py
closing.py
color_balancing.py
contrast_tool.py
cropping.py
darken_image.py
dehazing.py
dilation.py
edge_detection_tool.py
embossing.py
erosion.py
exposure_adjustment.py
fast_corner_detection.py
filter_tool.py
flipping_mirroring.py
flip_tool.py
gabor_filters.py
gamma_correction.py
glitch_effect.py
gradient.py
grayscale_tool.py
high_pass_filtering.py
histogram_equalization_tool.py
hough_transform.py
hue_adjustment.py
image_resizing.py
invert_colors_tool.py
laplacian_edge_detection.py
laplacian_sharpening.py
local_binary_patterns.py
median_blur.py
median_filtering.py
noise_reduction_tool.py
non_local_means_denoising.py
oil_painting_effect.py
opening.py
orb_feature_detection.py
otsu_binarization.py
pencil_sketch_effect.py
perspective_transformation.py
pixelation.py
posterization.py
prewitt_operator.py
resize_tool.py
rotation.py
saturation_adjustment.py
selective_color_replacement.py
sepia_tool.py
sharpen_tool.py
sift_feature_detection.py
simple_thresholding.py
sobel_filter.py
speckle_noise_reduction.py
surf_feature_detection.py
threshold_tool.py
top_hat_transform.py
unsharp_masking.py
vibrance_adjustment.py
warping.py
wavelet_denoising.py
wavelet_transform.py